header {
    background-color: white;
    background-position: left;
    background: url("../images/logo.png") no-repeat;
    height: 70px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    align-items: center;
    display: flex;
}
